.clickbutto

            bacn

        {kground-color: rgb(138, 138, 248);
            color: white;
            margin-top: 6px;
            padding-top: 6px;
            padding-bottom: 6px;
            padding-left: 18px;
            padding-right: 18px;
            border-radius: 20px;
            border: none;
            

        }


        a {

            color: white;

        }



           a:visited {

            color: white;

        }